* {
  margin: 0;
}

body {
  background: #00426e;
  background: linear-gradient(
    180deg,
    rgb(0, 56, 94) 0%,
    rgba(0, 19, 33, 1) 100%
  );
  color: white;
  font-family: monospace;
}

header {
    animation: loadIn linear 0.3s backwards;
}

.menu-wrapper {
    animation: loadIn linear 0.3s backwards;
    animation-delay: 0.3s;
}

.timeline-wrapper {
    animation: loadIn linear 0.3s backwards;
    animation-delay: 0.6s;
}

.timeline-event-container.fade-in {
  animation: fadeInUp 0.7s ease-out forwards;
}

/* Animations */
@keyframes loadIn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    z-index: 20;
  }
}

/* Responsive */
@media (min-width: 450px) {
    .main-wrapper {
        width: 420px;
        margin: auto;
    }
}