.timeline-event, .timeline-event-date, .timeline-event-title, .timeline-event-content {
    box-sizing: border-box;
}

.timeline-event {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: grey;
  border-radius: 10px;
}

.timeline-event-date {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: blue;
}

.timeline-event-title {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: brown;
}

.timeline-event-content {
  height: 120px;
  width: 100%;
  background-color: green;
  overflow-y: scroll;
  padding: 10px;
}

/* Scrollbar styling */
.timeline-event-content::-webkit-scrollbar {
  width: 8px;
}

.timeline-event-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.timeline-event-content::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78);
  border-radius: 4px;
}

.timeline-event-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(70, 70, 70);
}
