header {
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  position: relative;
}

.header-wrapper {
  box-sizing: border-box;
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.header-logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-main-title {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-sub-title {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-sub-title h2 {
  font-size: 0.9em;
}

.logo {
  width: 150px;
}
