.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  width: 90%;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.modal-content h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.modal-content p {
  margin-top: 20px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.modal-content ul {
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  border-left: 3px solid rgba(255, 255, 255, 0.568);
  padding-left: 20px;
}

.modal-content ul > li {
  list-style-type: none;
}

a.contribute-link,
a.contribute-link:active,
a.contribute-link:visited,
a.contribute-link:hover {
  text-decoration: underline;
  color: white;
}

.info-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  height: 50px;
  margin-top: 20px;
}

.info-footer-item {
  box-sizing: border-box;
  height: 25px;
  width: 100%;
}

p.copyright {
  font-size: 0.6em;
  text-align: center;
  line-height: 1.5em;;
  margin: 0;
}

/* Responsive */

@media (min-width: 450px) {
  .modal-content {
    max-width: 400px;
  }
}
